/* Listings Order */
.CustomDropdown {
    width: 50px;
}

.DropdownToggle {
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border: 1px solid #847c3d;
    border-radius: 4px;
    color: #847c3d;
}

.DropdownMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    border: 1px solid #847c3d;
    border-bottom: none;
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
    right: 0;
}

.DropdownItem {
    background-color: transparent;
    transition: background-color 0.3s;
    border-bottom: 1px solid #847c3d;
}

.DropdownItem:hover {
    background-color: rgba(132, 124, 61, 0.4) !important;
}